# Set default behavior to automatically normalize line endings
* text=auto eol=lf

# Explicitly declare text files we want to always be normalized and converted to LF
*.rb text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.json text eol=lf
*.dockerfile text eol=lf

# Set default charset
* text working-tree-encoding=UTF-8
